@page "/chemopx_update"

@inject IChemotherapyPX_Services _chemotherapyPX_Service
@inject IVCPortal_Globals _VCPortal_Globals

<style>
    .my-form.k-form .k-form-buttons {
        justify-content: flex-end;
        margin: 50px 50px 50px 50px;
    }

     .margin-form {
        margin-bottom: 10px;

    }


    .TextBoxLarge {
        margin-bottom: 10px;
        height: 100px;
    }
</style>

<!--      <div class="k-window k-window-wrapper telerik-blazor k-centered custom-popup" style="width: 90vw;height: 100%;overflow: scroll;min-width: 120px;min-height: 100px;"
         aria-modal="true" role="dialog" tabindex="0">  -->
<div class="k-dialog-wrapper ">


    <div class="k-window k-window-wrapper telerik-blazor k-centered custom-popup" style="width: 90vw;height: 96vh;min-width: 120px;min-height: 100px;"
         aria-modal="true" role="dialog" tabindex="0">


        @if (ValidSubmit)
        {
            <div class="demo-alert demo-alert-success" style="font-weight:bold" role="alert">
                @_status
            </div>
        }
        else if (_VCPortal_Globals.ChemotherapyPXFilters == null)
        {
            <div class="demo-alert demo-alert-success h4" role="alert">
                @_status
            </div>
        }
        else
        {
            <div style="padding-left:20px">

                <div class="row border border-3 border-primary m-2">
                    <div class="col fw-bold">
                        Update @chemotherapyPX_UpdateDto.CODE - @chemotherapyPX_UpdateDto.CODE_DESC
                    </div>
                </div>

                <TelerikForm EditContext="@_editContext" OnSubmit="@OnSubmitHandler" Class="my-form">
                    <FormValidation>
                        <DataAnnotationsValidator></DataAnnotationsValidator>
                    </FormValidation>
                    <FormItems>
                        <div class="row  m-2">
                            <div class="col  border border-2 border-info">
         
                                <FormItem Field="@nameof(chemotherapyPX_UpdateDto.GENERIC_NAME)">
                                    <Template>
                                        <label for="html" class="k-label k-form-label fw-bold">@nameof(chemotherapyPX_UpdateDto.GENERIC_NAME):</label>
                                        <TelerikTextArea Id="@nameof(chemotherapyPX_UpdateDto.GENERIC_NAME)" @bind-Value="@chemotherapyPX_UpdateDto.GENERIC_NAME" Class="TextBoxLarge" PlaceHolder=""></TelerikTextArea>
                                        <TelerikValidationMessage For="@(() => chemotherapyPX_UpdateDto.GENERIC_NAME)"></TelerikValidationMessage>
                                    </Template>
                                </FormItem>


                            </div>
                            <div class="col  border border-info">

                                <FormItem Field="@nameof(chemotherapyPX_UpdateDto.TRADE_NAME)">
                                    <Template>
                                        <label for="html" class="k-label k-form-label fw-bold">@nameof(chemotherapyPX_UpdateDto.TRADE_NAME):</label>
                                        <TelerikTextArea Id="@nameof(chemotherapyPX_UpdateDto.TRADE_NAME)" @bind-Value="@chemotherapyPX_UpdateDto.TRADE_NAME" Class="TextBoxLarge"  PlaceHolder=""></TelerikTextArea>
                                        <TelerikValidationMessage For="@(() => chemotherapyPX_UpdateDto.TRADE_NAME)"></TelerikValidationMessage>
                                    </Template>
                                </FormItem>

            
                            </div>


                            <div class="col border  border-2 border-info">

                                <FormItem Field="@nameof(chemotherapyPX_UpdateDto.CEP_ENROLL_EXCL_DESC)">
                                    <Template>
                                        <label for="html" class="k-label k-form-label fw-bold">@nameof(chemotherapyPX_UpdateDto.CEP_ENROLL_EXCL_DESC):</label>
                                        @*<TelerikTextArea Id="@nameof(_chemopxCreateDTO.CEP_ENROLL_EXCL_DESC)" @bind-Value="@_chemopxCreateDTO.CEP_ENROLL_EXCL_DESC" Class="TextBoxLarge" PlaceHolder=""></TelerikTextArea>*@

                                        <AutoComplete AutoCompleteList="@_VCPortal_Globals.ChemotherapyPXFilters.Where(x => x.Filter_Type == "CEP_ENROLL_EXCL_DESC").Select(x => x.Filter_Desc).ToList()" @bind-Value="@chemotherapyPX_UpdateDto.CEP_ENROLL_EXCL_DESC" DefaultValue="@chemotherapyPX_UpdateDto.CEP_ENROLL_EXCL_DESC" CanAddNew="true" Rows="4" WildSearch="true" ResultCount="10" FilterLimit="0"></AutoComplete>
                                        <TelerikValidationMessage For="@(() => chemotherapyPX_UpdateDto.CEP_ENROLL_EXCL_DESC)"></TelerikValidationMessage>
                                    </Template>
                                </FormItem>
                            </div>


                            <div class="col border  border-2 border-info">

                                <FormItem Field="@nameof(chemotherapyPX_UpdateDto.SOURCE)">
                                    <Template>
                                        <label for="html" class="k-label k-form-label fw-bold">@nameof(chemotherapyPX_UpdateDto.SOURCE):</label>
                                        @*<TelerikTextArea Id="@nameof(_chemopxCreateDTO.SOURCE)" @bind-Value="@_chemopxCreateDTO.SOURCE" Class="TextBoxLarge" PlaceHolder=""></TelerikTextArea>*@
                                        <AutoComplete AutoCompleteList="@_VCPortal_Globals.ChemotherapyPXFilters.Where(x => x.Filter_Type == "SOURCE").Select(x => x.Filter_Desc).ToList()" @bind-Value="@chemotherapyPX_UpdateDto.SOURCE" DefaultValue="@chemotherapyPX_UpdateDto.SOURCE" CanAddNew="true" Rows="4" WildSearch="true" ResultCount="10" FilterLimit="0"></AutoComplete>
                                        <TelerikValidationMessage For="@(() => chemotherapyPX_UpdateDto.SOURCE)"></TelerikValidationMessage>
                                    </Template>
                                </FormItem>
                            </div>

                           
                        </div>
                        <div class="row m-2">

                              <div class="col border border-2 border-info">

                                <FormItem Field="@nameof(chemotherapyPX_UpdateDto.CKPT_INHIB_IND)">
                                    <Template>
                                        <label for="html" class="k-label k-form-label fw-bold">@nameof(chemotherapyPX_UpdateDto.CKPT_INHIB_IND):</label>
                                        <TelerikCheckBox Id="@nameof(chemotherapyPX_UpdateDto.CKPT_INHIB_IND)" @bind-Value="@chemotherapyPX_UpdateDto.CKPT_INHIB_IND" Class="margin-form" />
                                        <TelerikValidationMessage For="@(() => chemotherapyPX_UpdateDto.CKPT_INHIB_IND)"></TelerikValidationMessage>
                                    </Template>
                                </FormItem>
                            </div>


                             <div class="col border  border-2 border-info">
                                <FormItem Field="@nameof(chemotherapyPX_UpdateDto.ANTI_EMETIC_IND)">
                                    <Template>
                                        <label for="html" class="k-label k-form-label fw-bold">@nameof(chemotherapyPX_UpdateDto.ANTI_EMETIC_IND):</label>
                                        <TelerikCheckBox Id="@nameof(chemotherapyPX_UpdateDto.ANTI_EMETIC_IND)" @bind-Value="@chemotherapyPX_UpdateDto.ANTI_EMETIC_IND" Class="margin-form" />
                                        <TelerikValidationMessage For="@(() => chemotherapyPX_UpdateDto.ANTI_EMETIC_IND)"></TelerikValidationMessage>
                                    </Template>
                                </FormItem>
                            </div>
    

                             <div class="col border  border-2 border-info">
                                <FormItem Field="@nameof(chemotherapyPX_UpdateDto.NHNR_CANCER_THERAPY)">
                                    <Template>
                                        <label for="html" class="k-label k-form-label fw-bold">@nameof(chemotherapyPX_UpdateDto.NHNR_CANCER_THERAPY):</label>
                                        <TelerikCheckBox Id="@nameof(chemotherapyPX_UpdateDto.NHNR_CANCER_THERAPY)" @bind-Value="@chemotherapyPX_UpdateDto.NHNR_CANCER_THERAPY" Class="margin-form" />
                                        <TelerikValidationMessage For="@(() => chemotherapyPX_UpdateDto.NHNR_CANCER_THERAPY)"></TelerikValidationMessage>
                                    </Template>
                                </FormItem>
                            </div>


                             <div class="col border  border-2 border-info">
                                <FormItem Field="@nameof(chemotherapyPX_UpdateDto.NOVEL_STATUS_IND)" Class="margin-form" Enabled="false"></FormItem>

                            </div>


                        </div>


                        <div class="row  m-2">

                            <div class="col border  border-2 border-info">


                                <FormItem Field="@nameof(chemotherapyPX_UpdateDto.CODE_CATEGORY_ID)">
                                    <Template>
                                    <label for="html" class="k-label k-form-label fw-bold">@nameof(chemotherapyPX_UpdateDto.CODE_CATEGORY_ID):</label>
                                        <TelerikDropDownList Data="@_VCPortal_Globals.ChemotherapyPXFilters.Where(x => x.Filter_Type == "Code_Category").ToList()" TextField="Filter_Desc" ValueField="Filter_Id"  Class="margin-form"
                                                         @bind-Value="@chemotherapyPX_UpdateDto.CODE_CATEGORY_ID"></TelerikDropDownList>
                                        <TelerikValidationMessage For="@(() => chemotherapyPX_UpdateDto.CODE_CATEGORY_ID)"></TelerikValidationMessage>
                                    </Template>
                                </FormItem>

                            </div>
                            <div class="col border  border-2 border-info">



                                <FormItem Field="@nameof(chemotherapyPX_UpdateDto.ASP_CATEGORY_ID)">
                                    <Template>
                                        <label for="html" class="k-label k-form-label fw-bold">@nameof(chemotherapyPX_UpdateDto.ASP_CATEGORY_ID):</label>
                                        <TelerikDropDownList Data="@_VCPortal_Globals.ChemotherapyPXFilters.Where(x => x.Filter_Type == "ASP_Category").ToList()" TextField="Filter_Desc" ValueField="Filter_Id"  Class="margin-form"
                                                         @bind-Value="@chemotherapyPX_UpdateDto.ASP_CATEGORY_ID"></TelerikDropDownList>


                                        <TelerikValidationMessage For="@(() => chemotherapyPX_UpdateDto.ASP_CATEGORY_ID)"></TelerikValidationMessage>


                                    </Template>
                                </FormItem>

                            </div>


                            <div class="col border  border-2 border-info">

                                <FormItem Field="@nameof(chemotherapyPX_UpdateDto.DRUG_ADM_MODE_ID)">
                                    <Template>
                                        <label for="html" class="k-label k-form-label fw-bold">@nameof(chemotherapyPX_UpdateDto.DRUG_ADM_MODE_ID):</label>
                                        <TelerikDropDownList Data="@_VCPortal_Globals.ChemotherapyPXFilters.Where(x => x.Filter_Type == "Drug_Adm_Mode").ToList()" TextField="Filter_Desc" ValueField="Filter_Id"  Class="margin-form"
                                                         @bind-Value="@chemotherapyPX_UpdateDto.DRUG_ADM_MODE_ID"></TelerikDropDownList>
                                        <TelerikValidationMessage For="@(() => chemotherapyPX_UpdateDto.DRUG_ADM_MODE_ID)"></TelerikValidationMessage>
                                    </Template>
                                </FormItem>

                            </div>


                            <div class="col border  border-2 border-info">

                                <FormItem Field="@nameof(chemotherapyPX_UpdateDto.PA_DRUGS_ID)">
                                    <Template>
                                        <label for="html" class="k-label k-form-label fw-bold">@nameof(chemotherapyPX_UpdateDto.PA_DRUGS_ID):</label>
                                        <TelerikDropDownList Data="@_VCPortal_Globals.ChemotherapyPXFilters.Where(x => x.Filter_Type == "PA_Drugs").ToList()" TextField="Filter_Desc" ValueField="Filter_Id"  Class="margin-form"
                                                         @bind-Value="@chemotherapyPX_UpdateDto.PA_DRUGS_ID"></TelerikDropDownList>
                                                         <TelerikValidationMessage For="@(() => chemotherapyPX_UpdateDto.PA_DRUGS_ID)"></TelerikValidationMessage>
                                    </Template>
                                </FormItem>

                            </div>

                        </div>


                        <div class="row  m-2">

                            <div class="col border  border-2 border-info">


                                <FormItem Field="@nameof(chemotherapyPX_UpdateDto.CEP_PAY_CD_ID)">
                                    <Template>
                                        <label for="html" class="k-label k-form-label fw-bold">@nameof(chemotherapyPX_UpdateDto.CEP_PAY_CD_ID):</label>
                                        <TelerikDropDownList Data="@_VCPortal_Globals.ChemotherapyPXFilters.Where(x => x.Filter_Type == "CEP_Pay_Cd").ToList()" TextField="Filter_Desc" ValueField="Filter_Id"
                                                         @bind-Value="@chemotherapyPX_UpdateDto.CEP_PAY_CD_ID" Class="margin-form"></TelerikDropDownList>
                                        <TelerikValidationMessage For="@(() => chemotherapyPX_UpdateDto.CEP_PAY_CD_ID)"></TelerikValidationMessage>
                                    </Template>
                                </FormItem>

                            </div>

                            <div class="col border  border-2 border-info">

                                <FormItem Field="@nameof(chemotherapyPX_UpdateDto.CEP_ENROLL_CD_ID)">
                                    <Template>
                                        <label for="html" class="k-label k-form-label fw-bold">@nameof(chemotherapyPX_UpdateDto.CEP_ENROLL_CD_ID):</label>
                                        <TelerikDropDownList Data="@_VCPortal_Globals.ChemotherapyPXFilters.Where(x => x.Filter_Type == "CEP_Enroll_Cd").ToList()" TextField="Filter_Desc" ValueField="Filter_Id"
                                                         @bind-Value="@chemotherapyPX_UpdateDto.CEP_ENROLL_CD_ID" Class="margin-form"></TelerikDropDownList>
                                        <TelerikValidationMessage For="@(() => chemotherapyPX_UpdateDto.CEP_ENROLL_CD_ID)"></TelerikValidationMessage>
                                    </Template>
                                </FormItem>

                            </div>


                             <div class="col border  border-2 border-info">


                                <FormItem Field="@nameof(chemotherapyPX_UpdateDto.CODE_EFF_DT)">
                                    <Template>
                                        <label for="html" class="k-label k-form-label fw-bold">@nameof(chemotherapyPX_UpdateDto.CODE_EFF_DT):</label>
                                        <TelerikDatePicker @bind-Value="@chemotherapyPX_UpdateDto.CODE_EFF_DT" Format="MM/dd/yyyy" Min="@_VCPortal_Globals.Min" Max="@_VCPortal_Globals.Max" Class="margin-form"></TelerikDatePicker>
                                        <TelerikValidationMessage For="@(() => chemotherapyPX_UpdateDto.CODE_EFF_DT)"></TelerikValidationMessage>
                                    </Template>
                                </FormItem>
                            </div>



                             <div class="col border  border-2 border-info">
                                <FormItem Field="@nameof(chemotherapyPX_UpdateDto.CODE_END_DT)" Class="margin-form" Enabled="false"></FormItem>

                            </div>


                        </div>
                        
                        <div class="row  m-2">

                            <div class="col border  border-2 border-info">

                                <FormItem Field="@nameof(chemotherapyPX_UpdateDto.PA_EFF_DT)">
                                    <Template>
                                        <label for="html" class="k-label k-form-label fw-bold">@nameof(chemotherapyPX_UpdateDto.PA_EFF_DT):</label>
                                        <TelerikDatePicker @bind-Value="@chemotherapyPX_UpdateDto.PA_EFF_DT" Format="MM/dd/yyyy" Min="@_VCPortal_Globals.Min" Max="@_VCPortal_Globals.Max" Class="margin-form"></TelerikDatePicker>
                                        <TelerikValidationMessage For="@(() => chemotherapyPX_UpdateDto.PA_EFF_DT)"></TelerikValidationMessage>
                                    </Template>
                                </FormItem>
                            </div>
                            <div class="col border  border-2 border-info">

                                <FormItem Field="@nameof(chemotherapyPX_UpdateDto.PA_END_DT)">
                                    <Template>
                                        <label for="html" class="k-label k-form-label fw-bold">@nameof(chemotherapyPX_UpdateDto.PA_END_DT):</label>
                                        <TelerikDatePicker @bind-Value="@chemotherapyPX_UpdateDto.PA_END_DT" Format="MM/dd/yyyy" Min="@_VCPortal_Globals.Min" Max="@_VCPortal_Globals.Max" Class="margin-form"></TelerikDatePicker>
                                        <TelerikValidationMessage For="@(() => chemotherapyPX_UpdateDto.PA_END_DT)"></TelerikValidationMessage>
                                    </Template>
                                </FormItem>

                            </div>

                           <div class="col border  border-2 border-info">
                                <FormItem Field="@nameof(chemotherapyPX_UpdateDto.CODE_TYPE)" Class="margin-form" Enabled="false"></FormItem>
                            </div>

                            <div class="col border  border-2 border-info">


                                <FormItem Field="@nameof(chemotherapyPX_UpdateDto.FIRST_NOVEL_MNTH)" Class="margin-form" Enabled="false"></FormItem>

                            </div>
                           
                        </div>

                    </FormItems>
                    <FormButtons>
                        <TelerikButton ButtonType="@ButtonType.Submit" ThemeColor="primary">Save</TelerikButton>
                        <TelerikButton ButtonType="@ButtonType.Button" OnClick="@(() => { _dialogCancelVisible = true; })">Cancel</TelerikButton>
                    </FormButtons>
                </TelerikForm>
                </div>
        }

    </div>
</div>

<TelerikDialog @ref="_dialogCancelRef" @bind-Visible="_dialogCancelVisible" ShowCloseButton="false">
    <DialogContent>
        <p role="status">Are you sure you want to cancel?</p>
    </DialogContent>
    <DialogButtons>
        <TelerikButton OnClick="@Close">Yes</TelerikButton>
        <TelerikButton OnClick="@(() => { _dialogCancelVisible = false; })">No</TelerikButton>
    </DialogButtons>
</TelerikDialog>


@code {

    [CascadingParameter]
    public Error Error { get; set; }



    [Parameter] 
    public ChemotherapyPX_UpdateDto chemotherapyPX_UpdateDto { get; set; }

    [Parameter]
    public bool EditFormVisible { get; set; }

    [Parameter]
    public EventCallback<bool> EditFormVisibleChanged { get; set; }

    [Parameter]
    public EventCallback<bool> ProcessingCompleted { get; set; }

    private EditContext _editContext { get; set; }

    private TelerikDialog? _dialogCancelRef;
    private bool _dialogCancelVisible;

    private string _status;

    private string _pageTitle { get; set; } = "ChemoPX Edit Form";

    private ILogger _logger { get; set; }

    protected override async Task OnInitializedAsync()
    {

        try
        {

            _logger = ApplicationLogging.CreateLogger<ChemotherapyPXGrid>();
            _logger.LogInformation("Initializing {PageTitle}...", _pageTitle);
            
            base.OnInitialized();

            _status = "Loading data...";

            _editContext = new EditContext(chemotherapyPX_UpdateDto);


            if (_VCPortal_Globals.ChemotherapyPXFilters == null)
                _VCPortal_Globals.ChemotherapyPXFilters = await _chemotherapyPX_Service.GetAllFilters();


        }
        catch (Exception ex)
        {
            _status = "";
            Error.ProcessError(ex);
        }




    }


    //private void OnSubmitHandler(EditContext editContext)
    private void OnSubmitHandler()
    {


        bool isFormValid = _editContext.Validate();

        if (isFormValid)
        {
            //apply some custom logic when the form is valud
            HandleValidSubmit();
        }
        else
        {
            //apply some custom logic when the form is not valid
            HandleInvalidSubmit();
        }
    }


    public bool ValidSubmit { get; set; } = false;

    async void HandleValidSubmit()
    {

        try
        {

            //ValidSubmit = true;
            _logger.LogInformation("Running Edit {Title}...", "HandleValidSubmit");

            var dto = (ChemotherapyPX_UpdateDto)_editContext.Model;
            await _chemotherapyPX_Service.UpdateChemoPXAsync(dto);

            _status = "Code " + dto.CODE + " - " + dto.CODE_DESC + " was successfully updated";
            ValidSubmit = true;
            //ValidSubmit = false;

            StateHasChanged();

            await ProcessingCompleted.InvokeAsync(false);

        }
        catch (Exception ex)
        {
            _status = "";
            Error.ProcessError(ex);
            
        }
        finally
        {
            Close();
        }

    }

    void HandleInvalidSubmit()
    {
        _logger.LogInformation("Running Edit {Title}...", "HandleInvalidSubmit");
        
        ValidSubmit = false;
    }

    private async Task Close()
    {
        _dialogCancelVisible = false;
        await EditFormVisibleChanged.InvokeAsync();

    }

    //private void OpenDialog()
    //{
    //    _dialogCancelVisible = true;
    //}
}


